* {
  margin:0;
  padding:0;
}

#main {
  height:100vh;
  background:url("../Resources/google-map-filller.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
